<div class="events index public">
<div class="event">
		<div class="event-header">
			<h3>
				<?php echo h($event['Event']['title']); ?>
				<span class="admin btn edit">
				<?php echo $this->Html->link ('editar', array ('controller' => 'events' , 'action' => 'edit', $event['Event']['id']))?>
				<?php echo $this->Form->postLink(__('excluir'),array('controller' => 'events' , 'action' => 'delete', $event['Event']['id']), null, __('Tem certeza que deseja apagar esse item?')); ?>
				</span>
			</h3>
			<div class="horario-box">
				<span class="horario"><?php echo h($event['Event']['type']); ?>
				</span>
			</div>
			<!--/horario-box-->
		</div>
		<!--/event-header-->
		<div class="description-box">
				<?php echo $event['Event']['description']; ?>
		</div>
		<!--/description-box-->
	</div>
</div>
