.wrapper {
	margin: 0 auto;
	width: 1030px;
}

body {
	background: url('../img/body-bg.png') repeat #e5e5e5;
	color: #666;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.4;
	text-align: left;
}

body a {
	color: #003F5E;
}

body #content a:hover {
	color: #006FA4;
	-webkit-transition: color 0.3s ease-in;
	-moz-transition: color 0.3s ease-in;
	-o-transition: color 0.3s ease-in;
	transition: color 0.3s ease-in;
}

body #content p a, body #content p a:hover {
	text-decoration: underline;
}

#nav-bar input, #nav-bar textarea {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 100%;
	clear: none;
}

#nav-bar input[type="submit"], #nav-bar  .actions ul li a, .actions a {
	  box-shadow: none;
    padding: 0;
    text-shadow: none;
}

.ico {
	float: left;
}

#header, #footer, #main, #nav-bar, #login .dashboard {
	-moz-box-shadow:    0px 3px 11px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.3);
	box-shadow:         0px 3px 11px rgba(0, 0, 0, 0.3);
}

#header {
	background: url('../img/header-bg.png') no-repeat #003F5E;
	padding: 30px 43px;
}

#header #hawk-logo {
	background: url('../img/logo-hawk2.png') no-repeat;
	float: left;
	height: 138px;
	width: 395px;
}

#header #citi-logo {
	background: url('../img/logo-citi.png') no-repeat;
	float: right;
	height: 134px;
	width: 213px;
}

#nav-bar {
	background: url('../img/nav-bar-bg.png') repeat-x #ccc;
	height: 43px;
	margin: 0 -10px;
	position: relative;
	z-index: 2;
}

#nav-bar .arrow {
	display: block;
	height: 5px;
	position: absolute;
	top: -5px;
	width: 10px;
}

#nav-bar .arrow.left {
	background: url('../img/nav-arrow-left.png') no-repeat;
	left: 0px;
}

#nav-bar .arrow.right {
	background: url('../img/nav-arrow-right.png') no-repeat;
	right: 0px;
}

#nav-bar ul, #nav-bar ul li {
	display: inline;
}

#nav-bar ul li {
	margin: 0 5px;
	padding: 13px 0;
}

/* DROP DOWN */

ul li.relative{
	position: relative;
}

ul li.relative .drop-down{
	background: #f8f8f8;
	border: 1px solid #ddd;
	display: none;
	position: absolute;
	text-align: left;
	top: 43px;
	left: 0;
	width: 100%;
	z-index: 1;
	-moz-box-shadow:    0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow:         0px 2px 2px rgba(0, 0, 0, 0.3);
}

#nav-bar #menu ul li.relative .drop-down ul li{
	display: block;
	margin: 0;
	padding: 0;
}

#nav-bar #menu ul li.relative .drop-down a{
    background: none repeat scroll 0 0 #eee;
    border-bottom: 1px dotted #e0e0e0;
    display: block;
    font-size: 13px;
    line-height: 1.2;
    padding: 8px 15px;
}

#nav-bar #menu ul li.relative .drop-down a:hover{
	background: white;
	text-decoration: none;
}

#nav-bar #menu ul li.relative .drop-down a.last{
	border-bottom: none;
}


#nav-bar #menu {
	padding: 10px 53px;
}

#nav-bar #menu a.item {
	color: #003F5E;
	font-family: georgia, serif;
	font-size: 16px;
	margin: 0 25px;
	padding: 5px 0;
	text-decoration: none;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3);
}

#nav-bar #menu a.item:hover {
	background: url('../img/calendar-underline.png') no-repeat bottom;
	padding: 5px 0 7px 0;
}

#nav-bar #login {
	position: absolute;
	right: 53px;
	top: 0;
}

#nav-bar #login a{
	font-size: 13px;
}

#nav-bar #login a:hover{
	color: #003F5E;
}

#nav-bar #login #login-btn{
	background: url('../img/login-btn-bg.png') top repeat-x;
	border: 1px solid #DDDDDD;
	cursor: pointer;
	margin: 7px 0;
	padding: 3px 10px;
	position: relative;
	width: 200px;
	z-index: 3;
}

#nav-bar #login #login-btn.hover{
	background: url('../img/login-btn-bg.png') bottom repeat-x;
}

#nav-bar #login #login-btn #arrow{
	background: url('../img/login-btn-arrow.png') top no-repeat;
	position: absolute;
	right: 12px;
	top: 11px;
	height: 6px;
	width: 12px;
	text-indent: -9999px;
}


#nav-bar #login #login-btn #arrow.hover{
	background: url('../img/login-btn-arrow.png') bottom no-repeat;
}

#nav-bar #login #login-btn span{
	color: #003F5E;
	display: block;
	font-family: georgia, serif;
	font-size: 16px;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3)
}

#nav-bar #login #login-form{
	padding: 10px;
	width: 200px;
}

#nav-bar #login #login-form .forgot-password{
	display: block;
	color: #006FA4;;
	text-decoration: underline;
}

#nav-bar #login #login-form .connected {
	font-size: 13px;
	margin: 10px 0;
	margin-bottom: 10px;
	padding: 0;
}

#nav-bar #login #login-form .connected .input.checkbox{
	margin: 0;
	padding: 0;
}

#nav-bar #login-form .field{
	border: 1px solid #ccc;
	color: #999;
	float: left;
	margin: 0;
	padding: 3px 0;
	width: 147px;
}

#nav-bar #login-form .field.username {
	margin-bottom: 5px;
	width: 100%;
}

#nav-bar #login-form .submit{
	float: right;
	text-indent: -99999px;
	margin: 2px -1px;
	width: 35px;
	background: url('../img/check-login-btn.png') top;
	border: 1px solid #123A4E;
	height: 23px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#nav-bar #login-form .submit:hover{
	background: url('../img/check-login-btn.png') bottom;
	cursor: pointer;
}

#nav-bar #login-form .connected label {
	float: left;
	margin: -2px 0 0 0;
	text-transform: lowercase;
}

#content {
	background: #fff;
	float: left;
	min-height: 600px;
	padding: 20px 10px 50px 10px;
	width: 706px;
}

#right-column {
	background: none repeat scroll 0 0 white;
	float: right;
	min-height: 600px;
	padding: 30px 0;
	width: 304px;
}

.container .border-box {
	background: url('../img/border-bg.png') repeat;
	padding: 6px;
}

.container .inside {
	background: #fff;
	border: 1px solid #ddd;
}

#carousel-container .inside {
	height: 349px;
	position: relative;
	width: 645px;
}

#carousel-container {
	background: none;
	float: left;
	margin: 0 16px 0 28px;
	width: 657px;
}

#carousel-container #nav-box {
	margin: 0 auto;
	text-align: center;
}

#carousel-container #nav-box .item {
	background: url('../img/item.png') no-repeat;
	cursor: pointer;
	display: block;
	float: left;
	height: 15px;
	margin: 10px;
	text-indent: -999999px;
	width: 16px;
}

#carousel-container #nav-box .item.current {
	background: url('../img/item-highligh.png') no-repeat;
}

#carousel-container .jcarousel-prev-horizontal {
	background: url('../img/carousel-left-arrow.png') no-repeat top;
	height: 44px;
	width: 30px;
}

#carousel-container .jcarousel-container {
	background: none;
	border: none;
}

#carousel-container .jcarousel-prev-horizontal:hover, #carousel-container .jcarousel-prev-horizontal:focus {
	background: url('../img/carousel-left-arrow.png') no-repeat bottom;	
}

#carousel-container .jcarousel-next-horizontal:hover, #carousel-container .jcarousel-next-horizontal:focus {
	background: url('../img/carousel-right-arrow.png') no-repeat bottom;	
}

#carousel-container .jcarousel-next-horizontal {
	background: url('../img/carousel-right-arrow.png') no-repeat top;
	height: 44px;
	width: 30px;
}

#carousel-container .jcarousel-container-horizontal, #carousel-container .jcarousel-clip-horizontal {
	padding: 0;
	height: inherit;
	width: inherit;
}

#carousel-container .jcarousel-prev-horizontal {
	left: -18px;
	top: 143px;
}

#carousel-container .jcarousel-next-horizontal {
	right: -18px;
	top: 143px;
}

#carousel-container .jcarousel-control {
	margin: 0 auto;
	text-align: center;
}

#carousel-container .jcarousel-control a{
	background: url('../img/carousel-btn.png') top no-repeat;
	display: inline-block;
	height: 17px;
	margin: 10px 5px;
	text-indent: -9999px;
	width: 16px;
}

#carousel-container .jcarousel-control a:hover, #carousel-container .jcarousel-control .current{
	background: url('../img/carousel-btn.png') bottom no-repeat;
}

#calendar-container .ui-state-default, #calendar-container .ui-widget-content .ui-state-default, #calendar-container .ui-widget-header .ui-state-default {
	background: #fff;
	border: 1px solid #FFFFFF;
	text-decoration: none;
}

#calendar-container .ui-state-default.ui-state-hover, #calendar-container .ui-widget-content .ui-state-default.ui-state-hover, #calendar-container .ui-widget-header .ui-state-default.ui-state-hover {
	background: #E0E0E0;
}

#calendar-container .ui-datepicker-today /*HOJE*/a{
	background: #FFB2B2 !important;
}

#calendar-container .ui-state-active, #calendar-container .ui-widget-content .ui-state-active, #calendar-container .ui-widget-header .ui-state-active /*SELECIONADO*/{
	background: #E6E6E6;
}


/* TAGS EVENTOS */
#calendar-container .ui-datepicker-calendar .curso a{
	background: #DAC06A;
}

#calendar-container .ui-datepicker-calendar .workshop a{
	background: #7F9FAE;
}

#calendar-container .ui-datepicker-calendar .palestra a{
	background: #85B07D;
}


/* TAGS EVENTOS MULTIPLOS */

#calendar-container .ui-datepicker-calendar .workshop.curso a{
	background: url('../img/calendar-events-bg.png') top left no-repeat !important;
}

#calendar-container .ui-datepicker-calendar .workshop.palestra a{
	background: url('../img/calendar-events-bg.png') top -31px no-repeat !important;
}

#calendar-container .ui-datepicker-calendar .palestra.curso a{
	background: url('../img/calendar-events-bg.png') top -62px no-repeat !important;
}

#calendar-container .ui-datepicker-calendar .palestra.curso.workshop a{
	background: url('../img/calendar-events-bg.png') top right no-repeat !important;
}

.title {
	color: #003F5E;
	display: block;
	font-family: Georgia, serif;
	font-size: 18px;
	margin: 0 auto;
	text-align: center;
}

.underline {
	display: block;
	margin: 0 auto 10px auto;
	height: 6px;
}

.indices.underline {
	background: url('../img/indices-underline.png') no-repeat;
	width: 167px;
}

.calendar.underline {
	background: url('../img/calendar-underline.png') no-repeat;
	width: 187px;
}

.news.underline {
	background: url('../img/news-underline.png') no-repeat;
	width: 153px;
}

.twitter.underline {
	background: url('../img/twitter-feed-underline.png') no-repeat;
	width: 85px;
}

.events.underline {
	background: url('../img/twitter-feed-underline.png') no-repeat;
	width: 66px;
	margin: 0;
}

.relatorios.underline {
	background: url('../img/twitter-feed-underline.png') no-repeat;
	width: 86px;
	margin: 0;
}

#calendar-container {
	float: right;
	margin: 0 37px 0 0;
	width: 265px;
}

#calendar-container .ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all{
	background: url('../img/calendar-title-bg.png') repeat-x;
	border: 1px solid #DADADA;
	color: #003F5E;
	font-weight: normal;
}

#news-container {
	font-size: 13px;
	margin: 30px 16px 0 16px;
	width: 362px;
}

#news-container #tabs {
	border: 1px solid #ddd;
	padding: 0 !important;
}

#news-container #tabs a {
	color: #003F5E !important;	
}

#news-container #tabs .ui-widget-header {
	background: url('../img/calendar-title-bg.png') repeat-x;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #DADADA;
}

#news-container #tabs .ui-widget-header a:hover{
	text-decoration: none;
}

#news-container .ui-tabs .ui-tabs-panel {
	padding: 0;
}

#news-container .inside {
	border: none;
	padding: 20px 10px 30px !important;
	height: 278px;
}

#news-container .ui-state-active, #news-container .ui-widget-content .ui-state-active, #news-container .ui-widget-header .ui-state-active {
	border: 1px solid #DADADA;
}

#news-container .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, #news-container .ui-tabs .ui-tabs-nav li.ui-state-disabled a, #news-container .ui-tabs .ui-tabs-nav li.ui-state-processing a {
	cursor: pointer;
}

#news-container #tabs .jcarousel-prev-vertical {
	background: url('../img/news-arrow-prev.png') repeat-x top;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 22px;
	cursor: pointer;
}

#news-container #tabs .jcarousel-prev-vertical:active {
	background: url('../img/news-arrow-prev.png') repeat-x bottom;
}

#news-container #tabs .jcarousel-next-vertical {
	background: url('../img/news-arrow-next.png') repeat-x top;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 22px;
	cursor: pointer;
}

#news-container #tabs .jcarousel-next-vertical:active {
	background: url('../img/news-arrow-next.png') repeat-x bottom;
}

#news-container .jcarousel-item-vertical{
	margin-bottom: 0;
}

#news-container .ui-tabs .ui-tabs-nav li a {
	padding: 4px 1em;
}

#news-container .jcarousel-clip-vertical {
	height: 285px;
}

#indices-container {
	float: right;
	margin: 28px 37px 0 0;
	width: 267px;
}

#indices-container .item {
  border-bottom: 1px dotted #DDDDDD;
  display: block;
  font-size: 11px;
  margin: 15px 0;
  padding: 10px 0 20px 0;
  position: relative;
}

#indices-container .item.last{
	border-bottom: none;
}

#indices-container .item.positive .value{
	color:#80A978;
}

#indices-container .item.negative .value{
	color:#D06666;
}

#indices-container .item.positive .arrow{
	background: url('../img/positive.png') no-repeat top;
	float: left;
	height: 35px;
	width: 19px;
}

#indices-container .item.negative .arrow{
	background: url('../img/negative.png') no-repeat top;
	float: left;
	height: 35px;
	width: 19px;
}

#indices-container .item .indice-name{
	float: left;
	text-indent: -9999px;
}

#indices-container .item .indice-name.ibove{
	background: url('../img/ibove.png') no-repeat top;
	height: 33px;
	margin: 2px 7px;
	width: 60px;
}

#indices-container .item .indice-name.nasdaq{
	background: url('../img/nasdaq.png') no-repeat top;
	height: 21px;
	margin: 9px 7px 0;
	width: 59px;
}

#indices-container .item .indice-name.sp500{
	background: url('../img/sp500.png') no-repeat top;
	height: 27px;
  margin: 5px 7px 0;
  width: 61px;
}

#indices-container .item .indice-name.dowjones{
	background: url('../img/dowjones.png') no-repeat top;
	height: 32px;
  margin: 3px 2px 0;
  width: 68px;
}

/* Sem isso o texto não fica em cima do outro quando tem overflow,
ele quebra linha
#indices-container .item .price, #indices-container .item .change {
	position: absolute;
	right: 0;
	width: 135px;
}
*/

#indices-container .item .price {
	top: 10px;
}

/*
Coloquei tamanho na div , para evitar de quebrar linha
*/
#indices-container .item .change {
	bottom: 22px;
	width: 232px;
}

#twitter-container {
	margin: 30px 14px 0 28px;
	width: 267px;
}

#content .container {
	float: left;
	font-size: 13px;
	line-height: 1.2;
}

#indices-container .inside {
	padding: 5px 15px;
	min-height: 350px;
}

#twitter-container .inside {
	min-height: 360px;
	padding: 0 15px;
	overflow: hidden;
}

#calendar #legenda {
	padding: 15px;
}

#calendar #legenda ul {
	float: left;
}

#calendar #legenda ul li {
	display: block;
	height: 20px;
	margin: 5px 0;
}

#calendar #legenda ul li span {
	float: left;
	margin: 2px 10px;
}

#news .new {
	border-bottom: 1px #ccc dotted;
	color: #999;
	float: left;
	padding: 10px 0;
}

#news .new span {
	float: left;
}

#news .new .time {
	background: #CDA218;
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 2px 4px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#news .new .call {
	width: 275px;
	float: right;
}

#news .new .content {
	margin: 5px 0 0 0;
}

#news-container #news .call {
	color: #003F5E;
	font-size: 13px;
	text-align: left;
}

#twtr-widget-1 .twtr-tweet-text em a {
	color: #CDA218 !important;
}

#footer {
	background: url('../img/footer-bg.png') repeat-x #19526E top;
	color: white;
	margin: 0;
	padding: 0 0 50px 0;
}

#footer a {
	color: white;
}

#footer a:hover {
	text-decoration: none;
}

#footer #top-border {
	background: url('../img/footer-top-border.png') repeat;
	height: 5px;
}

#footer #title {
	background: url('../img/footer-title-bg.png') repeat;
	font-family: georgia, serif;
	font-size: 28px;
	margin: 20px 0 20px -10px;
	padding: 5px 45px;
	max-width: 250px;
	-moz-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
	text-shadow: 1px 1px 0 #000;
}

#footer #title .arrow {
	display: block;
	height: 5px;
	position: absolute;
	top: -5px;
	width: 10px;
	background: url('../img/footer-title-arrow.png') no-repeat;
	left: 0px;
}

#footer .container {
	float: left;
}

#footer .first.container {
	margin: 20px 13px 20px 43px;
}

#footer .first.container ul li {
	padding: 2px 0;
}

#footer .footer-btn {
	display: block;
	height: 48px;
	text-indent: -9999px;
	width: 197px;
}

#footer .footer-btn.fb {
	background: url('../img/footer-fb-btn.png') top no-repeat;
	cursor: pointer;
}

#footer .footer-btn.fb:hover {
	background: url('../img/footer-fb-btn.png') bottom no-repeat;
}

#footer .footer-btn.tw {
	background: url('../img/footer-tw-btn.png') top no-repeat;
}

#footer .footer-btn.tw:hover {
	background: url('../img/footer-tw-btn.png') bottom no-repeat;
}

#footer .footer-btn.fav {
	background: url('../img/footer-fav-btn.png') top no-repeat;
}

#footer .footer-btn.fav:hover {
	background: url('../img/footer-fav-btn.png') bottom no-repeat;
}

#footer #back-to-top {
	background: url('../img/back-to-top-btn.png') top no-repeat;
	cursor: pointer;
	display: block;
	height: 48px;
	margin: 20px 0;
	text-indent: -9999px;
	width: 193px;
}

#footer #back-to-top:hover {
	background: url('../img/back-to-top-btn.png') bottom no-repeat;
}

#footer .contact.container {
	float: right;
  margin: 20px 43px 20px 0;
}

#footer .contact.container .item{
  display: block;
  letter-spacing: 0.05em;
  padding: 8px 0;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  width: 350px;
}

#footer .contact .middle {
	border-bottom: 1px dotted #446C7F;
	border-top: 1px dotted #446C7F;
}

#footer .contact.container .item .ico {
	padding: 2px 20px 2px 10px;
}

#footer .contact.container .item .contact-txt {
	float: left;
	padding: 8px 0;
}

#footer .mail-form.container {
	margin: 20px 0 20px 46px;
	width: 300px;
}

#footer .mail-form.container form, #footer .mail-form.container fieldset{
	margin: 0;
	width: 295px;
}

#footer .mail-form.container .text, #footer .mail-form.container .email{
	border: 0 none;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
  font-size: 16px;
}


#footer .mail-form.container .username {
	float: right;
	margin: 0 1px 5px 0;
	width: 245px !important;
}

#footer input,#footer textarea {
	color: #26576F;
	font-family: Trebuchet, helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	width: 289px;
	height: 30px;
	margin: 0 0 5px 0;
	background-color: #5E8194;
	border: 0 none;
	text-indent: 3px;
}

.rtl {
	text-align: right;
}

#footer .mail-form.container .submit {
	background-color: #BCCAD3;
	background-image: none;
	border: none;
	cursor: pointer;
	width: 70px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	text-shadow: none;
}

#footer .mail-form.container .submit.clean{
	margin-right: 4px;
}

#footer textarea {
	height: 90px;
	resize: none;
	padding: 7px 3px 0px 3px;
	margin: 1px 0 5px 0;
}

#main {
	background: #fff;
	position: relative;
}

#footer #signature {
	color: #5E869A;
	margin: -20px 50px;
  text-align: right;
}

/* ADMIN */

.adminLayout {
	width:960px!important;
}

#content.adminLayout {
	padding: 20px 30px 50px;
	width:970px!important;
}

#content .admin.btn.top {
	float: left;
	margin: 0 10px 20px 0;
}

#content .admin.btn.edit {
	margin: 0 0 0 20px;
}

#content .admin.btn.delete {
	margin: 0 0 0 10px;
}

#content .admin.btn {
	background: url('../img/login-btn-bg.png') top repeat-x;
	border: 1px solid #ccc;
	font-size: 13px;
	padding: 3px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

body #content .admin.btn:hover {
	background: url('../img/login-btn-bg.png') bottom repeat-x;
}

th.actions {
	text-align:center;	
}

#content form div {
	margin: 0;
	clear: none;
	padding: 0;
}

#content form div.input, #content form div.submit {
	clear: both !important;
  margin-bottom: 1em !important;
  padding: 0.5em !important;
}

form div.hasDatepicker {
	width: 250px !important;
	clear: none !important;
	float: left !important;
	padding: 30px !important;
}

/* DASHBOARD DROP-DOWN*/
.dashboard {
	display:none;
}

#login .dashboard {
	background: #f8f8f8;
	border: 1px solid #DDDDDD;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 36px;
	width: 220px;
	z-index: 2;
}

#login .dashboard ul, #login .dashboard ul li {
	margin: 0;
	padding: 0;
}

#login .dashboard ul li a{
	background: none repeat scroll 0 0 #EEE;
	border-bottom: 1px dotted #E0E0E0;
	display: block;
	font-size: 13px;
	line-height: 1.2;
	padding: 8px 15px;
}

#login .dashboard ul li a:hover{
	background: white;
	text-decoration: none;
}


#content .public.index {
	padding: 8px 20px;
}

#content .public.index h2{
	color: #003F5E;
	clear: both;
	display: block;
	font-family: Georgia, serif;
	font-size: 18px;
	text-align: left;
}

/* EVENTS */

.events.index .event {
	background: #f8f8f8;
	border: 1px solid #DDD;
	padding: 10px;
	margin: 20px 0;
}

.events.index .event .event-header h3{
	color: #003F5E;
	font-size: 16px;
	padding: 5px 5px 15px;
}

.events.index .event .event-header .horario-box {
	background: #E9E9E9;
	padding: 5px;
}

.events.index .event .event-header .horario-box .horario {
	color: #999;
	padding: 0 2px;
}

.events.index .event .description-box {
	padding: 15px 0 15px 100px;
	display: block;
	line-height: 1.6;
	color: #666;
}

/* RELATORIOS */

#relatorios-box .relatorio {
	background: #f8f8f8;
	border: 1px solid #DDD;
	padding: 10px;
	margin: 20px 0;
}

#relatorios-box .relatorio .relatorio-icon {
	background: url("../img/relatorio-icon.png") no-repeat scroll center top;
  float: left;
  height: 128px;
  width: 99px;
}

#relatorios-box .relatorio .relatorio-header{
	float: left;
  margin: 0 0 15px 10px;
  width: 520px;
}

#relatorios-box .relatorio .relatorio-header h3{
	color: #003F5E;
	font-size: 16px;
	padding: 5px 5px 15px;
}

#relatorios-box .relatorio .relatorio-header .tags-box {
	background: #E9E9E9;
	font-size: 12px;
	margin: -5px -25px 0 0;
	padding: 5px;
	line-height: 1.4em;
}

#relatorios-box .relatorio .relatorio-header .tags-box .tag {
	color: #999;
	padding: 0 2px;
	margin-right: 5px;
}
#relatorios-box .relatorio .relatorio-header .tags-box .tag a{
	color: #74ACC6;
}

#relatorios-box .relatorio .description-box {
	color: #666666;
  display: block;
  float: right;
  font-size: 12px;
  line-height: 1.6;
  margin: 0 0 10px;
  width: 500px;
}

#relatorios-box .relatorio .download-box {
	display: block;
  float: left;
  margin: 0 0 0 10px;
}

#relatorios-box .relatorio .download-btn{
	background: url('../img/download-btn.png') no-repeat bottom;
	cursor: pointer;
	display: block;
	height: 34px;
	width: 122px;
	text-indent: -9999px;
}

#relatorios-box .relatorio .download-btn:hover{
	background: url('../img/download-btn.png') no-repeat top;
}
