<div id="modal">
	<?php
	echo $this->Form->create('User');
	echo $this->Form->input('oldPassword',array ('label' => 'Senha Atual' ,'type' => 'password'));
	echo $this->Form->input('password',array ('label' => 'Nova Senha','type' => 'password'));
	echo $this->Form->input('passwordConfirm',array ('label' => 'Confirme a nova senha','type' => 'password'));
	echo $this->Form->end ('Enviar');
	?>
	<script type="text/javascript">
$('#modal').dialog();
</script>
</div>
