<div class="users form">
<?php echo $this->Form->create('User');?>
	<fieldset>
		<legend><?php echo __('Login'); ?></legend>
	<?php
		echo $this->Form->input('username',array ('label'=> 'login'));
		echo $this->Form->input('password',array ('label'=> 'senha'));

	?>
	</fieldset>
<?php echo $this->Form->end(__('Enviar'));?>
</div>